.index-page-wrapper {
  height: 100%;
  padding-top: 50px!important;
  margin: 0!important;
  background-color: #21252b;
  .left-tool-bar {
    height: 100%;
    width: 70px!important;
    padding: 0;
    background-color: rgb(242, 242, 234);
    color: black;
    .tool-row {
      border-left: 2px solid red;
      border-bottom: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      border-top: 1px solid lightgrey;
      cursor: pointer;
    }
    .tool-row:hover {
      background-color: rgba(235, 107, 107, 0.41);
    }
    .tool-row.selected {
      background-color: rgba(235, 107, 107, 0.41);
    }
  }
}

#text-chooseone-wrapper {
  margin-top: 200px;
  //font-family: Lato;
  font-weight: bold;
  font-size: 2rem;
  color: #DB6E8B;
  padding-left: 10px;
  padding-right: 10px;
}

#text-chooseone-wrapper::after {
  content: '';
  display: block;
  border: 1px solid #BA85EC;
  margin-top: 10px;
}

#button-choose-wrapper {
  margin-top: 50px;
}

.create-button {
  height: 200px;
  width: 100%;
  font-size: 1.5rem!important;
}