.header {
  //height: 50px;
  background-color: white;
}

#word-template {
  padding-left: 10px;
}

#word-riesling {
  font-weight: bold;
  display: inline-block;
}

#account-image {
  display: inline-block;
  margin-left: 10px;
}

#word-hello {
  font-size: 1.1rem;
}